body{
    text-align: center;
    margin: 0;
}
.hd{
    background-color: #31b997;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    color: white;
    padding: 0 3em;
}
.social-corner{
    display: flex;
}
.hd p{
    margin: .5em;
}
.nav{
    margin: 0 8em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    color: gray;
    text-decoration: none;
    margin: 1em;
}
.intro{
    background: center / cover no-repeat url('images/foodpoverty.jpg') ;
    height: 60vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    position: relative;
}
.intro div{
    margin: 1em 5em;
    text-align: left;
}
.intro p{
     width: 100%;
}
.intro hr{
    border:dotted 5px;
    border-bottom:0; 
    width:4%;
}
.donate-button {
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #31b997;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
  }
.donate-buttonn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.intro-button{
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 1px;
    margin: 1em 1em 1em 0;
    border-radius: 4px;
    text-decoration: none;
  }
  .intro-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
h1{
    text-transform: uppercase;
    margin-bottom: 0;
}
.top{
    margin: auto;
    padding-bottom: 1em;
    width: 40%;
}
hr{
    width: 15%;
    border: 0 px gray;
}
.icon{
    margin: .5em;
}
.desc{
    border-style: solid;
}
.blog{
    display: flex;
    margin-top:1em;
    margin-bottom:2em;
    margin-left: 100px;
    margin-right: 100px;
    
}
.blog-img-1{
width: 100%;
}
.like{
    display: flex;
    justify-content: space-between;
    color: grey;
}
.blog-card{
    width: 50%;
    padding: 0.5em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    border-color: whitesmoke;
    text-align: left;
}
.blog-card h2{
    margin: 0;
}
.blog-card a{
    display: block;
    text-align: right;
    color: black;
}
.blog-card-1{
    border: 1px solid rgb(210, 210, 210);
    border-top: 0;
    padding: 1em;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.sponsors{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 100px;
    margin-right: 100px;
}
.sponsors img{
    height:50px;
    width: 96px;
    border: 1px solid rgb(210, 210, 210);
}
.contact{
    background-color: #1e1c1c;
    color: white;
    text-align: left;
    padding: 1em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact ul{
   line-height: 2em;
}
.contact h2{
    font-size: large;
}
.contact hr{
    width: 2em;
    margin-left: 0;
    border: 1px solid aqua;
}
.contact-1{
    width: 30%;
}
.contact-2 ul{
    padding: 0;
}
.contact-3 p{
    width: 80%;
}
.ft{
    text-align: left;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 5em;
    color: white;
    font-size: small;
}
